page-tap {

    .footer-textarea{
        border-top:1px solid #eee;
        width:100%;
    }
    .custom-btn{
        user-select: none;
        -webkit-appearance:button;
        cursor:pointer;
    }
}
